 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 body {
   font-family: 'Georgia', 'Times New Roman', 'Times, serif';
   line-height: 1;
   background-color: rgb(220, 227, 241);
 }

 a {
   text-decoration: none;
   color: rgb(255, 135, 175);
 }

 p {
   padding: 10px;
   font-size: 20px;
 }

 
 header {
   background-color: rgb(104, 173, 253);
   padding: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
   color: rgb(118, 34, 182);
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 header h1 {
   display: inline-block;
   background-color: #a2d1f0;
   padding: 8px;
   border-radius: 10px;
   font-size: 40px;
 }

 header nav a {
   margin-right: 7px;
 }

 header nav a:hover {
   text-shadow: none;
   color: #fc00e7;
   border-radius: 10px;
 }

 .hero {
   height: 99px;
   width: 100%;
   background-color: rgb(188, 186, 190);
   /* background-image: url('./name.jpg'); */
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-bottom: 30px;
 }

 main {
   max-width: 85%;
   margin: auto;
   padding: auto;
 }

 section {
   display: flex;
   padding: 15px 0;
 }

 section h2 {

   flex: 0 0 20%;
 }

 section>div {
   flex: 0 0 75%;
 }

 section>div img {
   width: 200px;
   height: 200px;
 }

 .projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .item {
   background-color: pink;
   min-height: 150px;
   max-height: 150px;
   flex-basis: calc(50% - 1em);
   margin: 5px;
   background-size: cover;
   display: flex;
   align-items: flex-end;
 }

 .one {
   background-image: url(./coming-soon.jpg);
   min-height: 400px;
   flex-basis: 100%;
   width: 320px;
   padding: 10px;
   border: 15px solid rgb(135, 228, 81);
   margin: 20;
 }

 .two {
  background-image: url(./coming-soon-01.jpg);
  min-height: 400px;
  flex-basis: 100%;
  width: 320px;
  padding: 10px;
  border: 15px solid rgb(135, 228, 81);
  margin: 20;
}
 
 .three {
  background-image: url(./coming-soon02.jpg);
  min-height: 400px;
  flex-basis: 100%;
  width: 320px;
  padding: 10px;
  border: 15px solid rgb(135, 228, 81);
  margin: 20;
 }

 .four {
  background-image: url(./coming-soon-03.jpg);
  min-height: 400px;
  flex-basis: 100%;
  width: 320px;
  padding: 10px;
  border: 15px solid rgb(135, 228, 81);
  margin: 20;
 }

 .five {
  background-image: url(./coming-soon-04.jpg);
  min-height: 400px;
  flex-basis: 100%;
  width: 320px;
  padding: 10px;
  border: 15px solid rgb(135, 228, 81);
  margin: 20;
 }

@media screen and (max-width: 750px) {
 
}

@media screen and (max-width: 600px) {
 
} 